.App {
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  flex-direction: column;
}

.App-header {
  flex: 0;
  padding: 16px;
  padding-bottom: 0;
  margin: 0;
}

.App-header > h1 {
  margin: 0;
}

.App-content {
  flex: 1;
  padding: 16px;
  padding-bottom: 0;
}

.App-footer {
  flex: 0;
  flex-basis: 60px;
}

.Logo {
  font-style: italic;
  font-weight: bold;
  user-select: none;
}

.Logo > .active {
  color: #fdb92c;
}

.ant-btn-primary,
.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background-color: #fdb92c;
  border-color: #fdb92c;
}
